<div class="row" ng-mouseenter="hoverIn()" ng-mouseleave="hoverOut()">
  <div class="col-md-3 col-md-offset-0 col-xs-4 col-xs-offset-4">
    <!-- Thumbnail do livro -->
    <img class="img-responsive" ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" check-image/><br>
  </div>

  <!-- Botao de favorito para telas pequenas -->
  <div class="col-xs-4 visible-xs-block">
    <div ng-if="favoriteList.indexOf(book.id) != -1">
      <button class="btn btn-favorite pull-right" ng-click="removeFromFavorite(book.id); $event.stopPropagation();">
        <span class="glyphicon glyphicon-heart"></span>
      </button>
    </div>
    <div ng-if="favoriteList.indexOf(book.id) == -1">
      <button class="btn btn-not-favorite pull-right" ng-click="markAsFavorite(book.id); $event.stopPropagation();">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </button>
    </div>
  </div>
  
  <div class="col-md-9 col-xs-12">
    <!-- Titulo e subtitulo do livro -->
    <h2 class="book-title text-uppercase">
      <span ng-bind-html="book.volumeInfo.title | highlight:parameters.q"></span>
      <div ng-if="book.volumeInfo.subtitle">
        <small ng-bind-html="book.volumeInfo.subtitle | highlight:parameters.q"></small>
      </div>
    </h2>

    <!-- Dados do livro -->
    <div class="book-info">
      <!-- Data de publicacao -->
      <div ng-if="book.volumeInfo.publishedDate">
        <span class="book-publisheDate">lançado em {{book.volumeInfo.publishedDate | date:"dd/MM/yyyy"}}</span><br>
      </div>
      <!-- Autor(es) -->
      <div ng-if="book.volumeInfo.authors">
        por <span ng-repeat="author in book.volumeInfo.authors" ng-bind-html="author | highlight:parameters.q">
          {{author}}{{$last ? '' : ' e '}}
        </span><br>
      </div>
      <!-- Editora -->
      <div ng-if="book.volumeInfo.publisher">
        <span>editora {{book.volumeInfo.publisher}}</span><br>
      </div>
    </div>

    <!-- Resumo do livro -->
    <blockquote ng-if="book.volumeInfo.description">
      <p class="resume" ng-bind-html="book.volumeInfo.description"></p>
    </blockquote>

    <div class="row">
      <!-- Lista de categorias do livros -->
      <div class="col-md-6">
        <span class="badge" ng-repeat="category in book.volumeInfo.categories">{{category}}</span>
      </div>
      <div class="col-md-6 hidden-xs">
        <div ng-if="favoriteList.indexOf(book.id) != -1">
          <button class="btn btn-favorite pull-right" ng-click="removeFromFavorite(book.id); $event.stopPropagation();">
            <span class="glyphicon glyphicon-heart"></span> favorito
          </button>
        </div>
        <div ng-if="hoverContent && favoriteList.indexOf(book.id) == -1">
          <button class="btn btn-not-favorite pull-right" ng-click="markAsFavorite(book.id); $event.stopPropagation();">
            <span class="glyphicon glyphicon-heart-empty"></span> marcar favorito
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
